[BASIC_PARAMS]
HOST = 127.0.0.1
PORT = 65432
QUEUE_SIZE = 5
MIN_QUEUE_SIZE = 1
MAX_QUEUE_SIZE = 10
TEMP_DIR = ./tmp
OUTPUT_DIR = ./output
TEMP_FILE_EXTENSION = .pkl

[VARIANT_CALLER_PARAMS]
reference = input/reference-covid.fasta
minEvidenceDepth = 5
minEvidenceRatio = 0.10
maxVariants = 1
minTotalDepth = 10
minMappingQuality = 20
minBaseQuality = 30

[WATCHER_PARAMS]
WATCHER_INTERVAL = 1
WATCH_RECURSIVELY = False
SUPPORTED_EXTENSIONS = .sam