[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysam = "*"
numpy = "*"
tqdm = "*"
python-daemon = "*"
matplotlib = "*"
watchdog = "*"
pyinstaller = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
