[BASIC_PARAMS]
HOST = 127.0.0.1
PORT = 65432
QUEUE_SIZE = 5
MIN_QUEUE_SIZE = 1
MAX_QUEUE_SIZE = 10
OUTPUT_DIR = ./output
TEMP_DIR = ./tmp
TEMP_FILE_EXTENSION = .pkl

[VARIANT_CALLER_PARAMS]
REFERENCE = input/reference-covid.fasta
MIN_EVIDENCE_DEPTH = 5
MIN_EVIDENCE_RATIO = 0.10
MAX_VARIANTS = 1
MIN_TOTAL_DEPTH = 10
MIN_MAPPING_QUALITY = 20
MIN_BASE_QUALITY = 30

[WATCHER_PARAMS]
WATCHER_INTERVAL = 1
WATCH_RECURSIVELY = False
SUPPORTED_EXTENSIONS = .sam